#custom-button-1 {
  color: var(--red-1);
  --accent-color: var(--red-1);
}

#custom-button-2 {
  color: var(--purple-1);
  --accent-color: var(--purple-1);
}

#custom-button-3 {
  --accent-bg-color: var(--green-5);
  --accent-fg-color: white;
  --accent-color: var(--green-1);
}

#custom-button-4 {
  --accent-bg-color: var(--orange-5);
  --accent-fg-color: white;
  --accent-color: var(--orange-1);
}

.tab-page {
  --accent-bg-color: alpha(white, .6);
  --accent-fg-color: alpha(black, .8);
  --accent-color: alpha(white, .75);
}

.tab-page-color-1 {
  background: shade(var(--blue-5), 0.7);
}

.tab-page-color-2 {
  background: shade(var(--green-5), 0.6);
}

.tab-page-color-3 {
  background: shade(var(--yellow-5), 0.5);
}

.tab-page-color-4 {
  background: shade(var(--orange-5), 0.6);
}

.tab-page-color-5 {
  background: shade(var(--red-5), 0.7);
}

.tab-page-color-6 {
  background: shade(var(--purple-5), 0.7);
}

.tab-page-color-7 {
  background: shade(var(--brown-5), 0.7);
}

.tab-page-color-8 {
  background: #363636;
}
